html {
    background: blue;
}

.TitleBody{
    font-size: 15vh;
}

.TitleHead{
    font-size: 20vh;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.ColorBody {
    color: #3f3f3f;
}

h3 {
    font-size: 150px;
}



