.menu {
    background: grey;
}

.menu-list {
    list-style: none;  
    padding-inline-start: 0px; 
}

.list-item {
    display: inline-block;
    margin: 0 120px;
}

.container .image{
    display: inline-block;
    width: 48%;
    height: auto;
    text-align: center; 
}

button .btn {
    padding: 20px 40px;
    background: grey;
    border: 3px white;
    color: white;
    font-size: 16px;
}

.title {
    width: 500px;
    height: 900px;
    text-align: center;
}

.footer {
    padding: 20px 0;
    background: blue;
}

h1 {
    margin-bottom: 100px;
}
